/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.first_cont {
  border: 2px solid black;
  width: 40%;
  height: 50%;
  margin-top: 30px;
  margin-left: 250px;
  padding: 30px;
}

.main_container {

}
.input_filed{
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 30px;
}
.main_div {
  float: left;
  margin: 10px;
}
/* .first_cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input_filed {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  
} */
.card_container {
  display: flex;
  border: 1px solid black;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 340px;
  height: 380px;
  margin: 10px;
  float: left;
}
.btn {
  display: flex;
  justify-content: space-around;
}
